.body {
    margin:0 auto;
    padding: 0;
}

.container {
    margin: 0;
    padding: auto;
    width: 100%;
}

.card{
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.card-text {
    font-size: 0,6rem;
    color: #333;
}

.row {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}